@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hitta din bonde</h1>
    <p class="lead">Spenderar du all din tid med djuren på gården och har svårt att hitta den rätta. Skapa ett konto idag så hjälper vi dig att hitta just din bonde nära dig.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Linköping</h2>
        <img class="Profilbilder"src="http://www.farmstart.ca/wp-content/uploads/2008/07/03farmer4-650.jpg" alt="Bert Jonsson"/>
        <h2>Kristianstad</h2>
        <img class="Profilbilder" src="http://www.rappnews.com/wp-content/uploads/2012/10/theRappLibrary-4W.jpg" alt="Rita Jungfeldt" />
    </div>
    <div class="col-md-4">
        <h2>Arboga</h2>
       <img class ="Profilbilder"src="https://fthmb.tqn.com/x8LTfuF2kOYv_uZP_Q6anrgbWt8=/768x0/filters:no_upscale()/about/459431307-57aa84a55f9b58974a2c60af.jpg" alt="Klas Ingemansson" />
       <h2>Leksand</h2>
       <img class="Profilbilder" src="http://www.nfu.ca/sites/www.nfu.ca/files/Dean%20Harder.jpg" alt="Sergio Busquets" />
    </div>
    <div class="col-md-4">
        <h2>Junsele</h2>
       <img class="Profilbilder" src="http://www.edp24.co.uk/polopoly_fs/1.4655737.1471017410!/image/image.jpg_gen/derivatives/landscape_630/image.jpg" alt="Ing-britt Kåresten" />
        <h2>Haparanda</h2>
        <img class="Profilbilder" src="http://image2.turizm.ru/CE/pub/page/2388/00.jpg" />
    </div>
</div>